@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter", serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
}

@font-face {
  font-family: "Rubik", serif;
  src: url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
}

@font-face {
  font-family: "Roboto", serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
}

html,
body {
  @apply bg-secondary-light w-full overflow-x-hidden min-h-full h-full font-inter scroll-smooth;
}

* {
  @apply m-0 p-0;
  box-sizing: border-box;
}

.nav-button {
  @apply py-1 px-3.5 rounded-20 bg-secondary-light hover:bg-secondary-dark transition-all text-black hover:text-white font-inter text-base;
}

.badge {
  @apply bg-secondary-dark text-white text-[15px] leading-[18px] py-[5px] px-2.5 rounded-32 w-fit;
}

.advantages-card {
  @apply bg-accent flex flex-col justify-between text-white rounded-20 p-5 2xl:p-8 aspect-video xl:aspect-square 2xl:aspect-video font-inter gap-5;
}

.services-card {
  @apply bg-accent rounded-20 p-5 2xl:p-8 gap-5 flex flex-col justify-between text-white grow;

  h3 {
    @apply text-2xl font-roboto font-semibold;
  }

  p {
    @apply text-base font-inter font-normal;
  }
}

.warranty-card {
  @apply bg-accent rounded-20 px-10 py-5 flex flex-col gap-2.5 text-white text-nowrap  w-min;

  h3 {
    @apply text-4xl font-semibold font-inter;
  }

  p {
    @apply text-lg font-inter font-normal;
  }
}

.circle {
  @apply border border-white rounded-full;

  &.with-content {
    @apply aspect-square flex justify-center items-center text-center text-xl sm:text-sm lg:text-base xl:text-xl p-10 sm:p-4 xl:p-12 font-inter font-light;

    b {
      @apply font-bold;
    }
  }
}

h2,
.h2 {
  @apply text-5xl font-semibold font-inter;
}
